*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.largura-total{
    width: 100vw;
    background-color: rgba(255, 127, 80, 0.637);
    color: white;
    padding: 20px;
}
.largura-metade{
    width: 50vw;
    background-color: rgb(85, 255, 18);
    color: white;
    padding: 20px;
}

.altura-metade{
    height: 100vh;
    background-color: rgb(247, 9, 167);
    color: white;
    padding: 20px;
}

.altura-total{
    height: 50vh;
    background-color: rgb(4, 27, 88);
    color: white;
    padding: 20px;
}