*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto{
    line-height: 3;
    word-spacing: 10px;
    color: white;
}

.caixa{
    background-color: lightblue;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
}
.tamanho-fixo{
    width: 200px;
    height: 100px;
}

.largura{
    background-color: white;
    min-width: 400px;
    max-width: 500px;
    width: 300px;
}

.altura{
    background-color: rgb(19, 133, 19);
    width: 200px;
    height: 100px;
    min-height: 150px;
    max-height: 250px;
    overflow: auto;
}

.overflow-x{
    background-color: blueviolet;
    width: 200px;
    overflow-x: auto;
    white-space: nowrap;
}

.overflow-y {
    background-color: deeppink;
    width: 300px;
    height: 100px;
    overflow-y: auto;
    white-space: nowrap;
}

.overflow-total{
    background-color: darkblue;
    width: 200px;
    height: 100px;
    overflow: auto;
    white-space: nowrap;
}

