a {
    background-color:navy;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

a:houver{
    background-color: lightblue;
    text-decoration: underline;
}
