*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 300px;
    margin: 5px;
    padding: 10px;
    background-color: yellow;
}
 
.item {
    background-color: rgb(53, 0, 53);
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}